<nav class="product-nav" aria-label="Categorías Cisco">
  <div class="header-shell product-nav__list">
    <a class="product-nav__item" href="https://www.ds3comunicaciones.com/cisco/catalys_9200l.html">
      <span class="product-nav__icon" aria-hidden="true">
        <img src="https://www.ds3comunicaciones.com/cisco/images/logo-cisco.gif" alt="" />
      </span>
      <span>Switch Catalyst</span>
    </a>
    <a class="product-nav__item" href="https://www.ds3comunicaciones.com/cisco/bussines_sg350.html">
      <span class="product-nav__icon" aria-hidden="true">
        <img src="../icons/Cisco Business.ico" alt="" />
      </span>
      <span>Cisco Business</span>
    </a>
    <a class="product-nav__item" href="https://www.ds3comunicaciones.com/cisco/precios_cisco_switch_industrial_b.html">
      <span class="product-nav__icon" aria-hidden="true">
        <img src="../icons/Switch Industrial.ico" alt="" />
      </span>
      <span>Switch Industrial</span>
    </a>
    <a class="product-nav__item" href="https://www.ds3comunicaciones.com/cisco/precios_cisco_access_point_b.html">
      <span class="product-nav__icon" aria-hidden="true">
        <img src="../icons/Aironet.ico" alt="" />
      </span>
      <span>Aironet</span>
    </a>
    <a class="product-nav__item" href="https://www.ds3comunicaciones.com/cisco/precios_cisco_telefonos_b.html">
      <span class="product-nav__icon" aria-hidden="true">
        <img src="../icons/Télefono.ico" alt="" />
      </span>
      <span>Teléfono</span>
    </a>
    <a class="product-nav__item" href="https://ds3comunicaciones.com/cisco/precios_cisco_meraki_b.html">
      <span class="product-nav__icon" aria-hidden="true">
        <img src="../icons/mariakii.ico" alt="" />
      </span>
      <span>Meraki</span>
    </a>
    <a class="product-nav__item" href="#">
      <span class="product-nav__icon" aria-hidden="true">
        <img src="../icons/Transceiver.ico" alt="" />
      </span>
      <span>Transceiver</span>
    </a>
  </div>
</nav>
