<nav class="breadcrumbs" aria-label="Breadcrumb">
  <ol class="page-shell breadcrumbs__list">
    <li class="breadcrumbs__item">
      <a href="https://www.ds3comunicaciones.com/index.html" aria-label="Inicio">
        <i class="fa-solid fa-house" aria-hidden="true"></i>
      </a>
    </li>
    <li class="breadcrumbs__separator" aria-hidden="true">
      <i class="fa-solid fa-angle-right"></i>
    </li>
    <li class="breadcrumbs__item">
      <a href="http://www.ds3comunicaciones.com/cisco/index.html">Cisco</a>
    </li>
    <li class="breadcrumbs__separator" aria-hidden="true">
      <i class="fa-solid fa-angle-right"></i>
    </li>
    <li class="breadcrumbs__item">
      <a href="http://ds3comunicaciones.com/cisco/catalyst.html">Switch Catalyst</a>
    </li>
    <li class="breadcrumbs__separator" aria-hidden="true">
      <i class="fa-solid fa-angle-right"></i>
    </li>
    <li class="breadcrumbs__current" aria-current="page">C9200L-24P-4G-E</li>
  </ol>
</nav>
